.App {
  text-align: center;
  /* 중앙 정렬 */
}

.App-header {
  background-color: #282c34;
  /* 배경색 지정 */
  min-height: 100vh;
  /* 이 요소의 최소 높이를 브라우저 높이만큼 설정 */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: flex; 와 함께 사용할 수 있는 중앙 정렬 */
  
  font-size: calc(10px + 2vmin);
  /* 기본 값이 10px인 폰트 크기를 화면 크기에 비례하여 조절 */
  color: white;
  /* 폰트 컬러 설정 */
}

.App-logo {
  height: 40vmin;
  /* 로고의 크기를 모니터 크기의 40% 정도로 설정 */
  pointer-events: none;
  /* 마우스 포인터 관련 이벤트를 보이지 않음 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* 로고에 적용 */
    animation: App-logo-spin infinite 20s linear;
    /* 아래 정의된 이름의 키프레임을 20초간 선형으로 진행되는 애니메이션을 무한 반복 실행 */
  }
}

@keyframes App-logo-spin {
  from {
    /* 처음엔 회전이 아무 것도 없는 상황에서 시작 */
    transform: rotate(0deg);
  }
  to {
    /* 끝날 때 한 바퀴(360도) 회전한 상황으로 마무리 */
    transform: rotate(360deg);
  }
}
